.css-78trlr-MuiButtonBase-root-MuiIconButton-root:hover {
  background-color: transparent !important;
}

ul.css-h4y409-MuiList-root li {
  margin-top: 5px;
}
ul.css-h4y409-MuiList-root li:hover {
  background-color: rgba(211, 211, 211, 0.377);
}
