@media screen and (min-width: 200px) and (max-width: 460px) {
  .css-5f9w9x {
    width: 280px !important;
    padding: 15px !important;
  }
}
@media screen and (min-width: 461px) {
  .css-5f9w9x {
    width: 400px !important;
    padding: 20px !important;
  }
}
